

.body{
    display: flex;
    justify-content: center;
    background-color:  #ffffff;
    width: 100%;
    

    
}
.body h1{
    font-size: 30px;
    white-space:normal;
}
.body-main{
    display: flex;
    flex-direction: column;
    padding:3vh 0vh ;
    gap:1vh;
    width:1080px ;
    max-width: 1080px;
    transition: all .5s ;
}


.body-ul{
    list-style: none;
    display: flex;
    gap:.8vh;
   
}

.body-li{
    display: inline-block;
   
    
}

.ul-div{
    display: flex;
    font-size: 13px;
    font-weight: 500;
    gap:.8vh;
    justify-content: center;
    align-items: center;
}

.body-main h1{
    color: rgba(41, 41, 41, 0.879);
}

.header-main{
    font-size: small;
}

.head{
    display: flex;
    gap:3vh;
    width: 100%;
}
.Top{
    display: flex;
    flex-direction: column;
    gap:2vh;
    height: 100%;
}
.head img{
    width:100% ;
    height: 100%;
    max-width: 909px;
    max-height:900px;
}

.head-brands{
    display: flex;
    gap:1.5vh;
    margin-top: 20px;
    margin-left: 1vh;
    
}

.second-section{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    gap:2vh;
}

.second-section p{
    font-size: 20px;
    line-height :35px;
    font-family: 700;
}

.third-section{
    display: flex;
    flex-direction: column;
    gap:3vh;
}

.third-section p{
    font-size: 20px;
    line-height :35px;
    font-family: 700;
}

.third-section span{
    font-weight: 600;
    color: rgb(77, 76, 76);
}


.fourth-section{
    display: flex;
    flex-direction: column;
    gap:3vh;
}

.fourth-section p{
    font-size: 20px;
    line-height :35px;
    font-family: 700;
}

.fourth-section span{
    font-weight: 600;
    color: rgb(77, 76, 76);
}


.drop-down{
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-top: 2vh;
    margin-left: 1vh;
}

.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.113);
    padding: 1vh 1.6vh;
    border-radius: 1vh;
    
}


.five-section{
    display: flex;
    gap:1vh;
    flex-direction: column;
}

.five-section span{
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(72, 72, 72);
}

.five-section p{
    font-size: 20px;
}

.tag{
    color: rgb(28, 104, 186);
    background-color: rgba(20, 111, 160, 0.252);
    width: fit-content;
    padding: 4px;
    border-radius:4px;
}

/* last sec */
.related{
    
    
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding:3vh 0vh ;
    gap:4vh;
    width:1080px ;
    max-width: 1080px;
    transition: all .5s ;
}




.related h1{
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 20px;
}


.carousel{
    display: flex;
}

.card-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    margin-left: 20px;
    
    gap: 20px;
    height: 99%;
    box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.113);
   
}
.ctext{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:10px;
}
.disclaimer{
    margin-left: 20px;
    font-size: 10px;
    line-height: 18px;
}
/* sidebar */
.head-ul{
    display: flex;
    border-radius: .8vh;
    box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.113);
    padding: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    width:40% ;
    cursor: pointer;
    min-height: 475px;
    min-width: 290px;
    list-style: none;
}

.head-ul h3{
    font-size:24px ;
    white-space: nowrap;
}

.head-ul li{
    background-color: rgba(97, 99, 99, 0.177);
    border-radius: .8vh;
    padding: 1vh;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
}

.bottom{
    display: flex;
    color: #ffffff;
    width: 100%;
    margin-top: 3.5vh;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding:3vh 0vh ;
    gap:4vh;
    width:1080px ;
    max-width: 1080px;
    transition: all .5s ;

}

.footer{
    background-color: #191C1F;
}

/* 
.head-ul li:hover{
  
} */

.head-side-bar{
    display: flex;
    flex-direction: column;
}

.download{
    display: flex;
    white-space: nowrap;
    border-radius: .8vh;
    box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.113);
    padding: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    min-width: 290px;
    width: 40%;
    list-style: none;
    margin-top: 2vh;
}

.download h2{
    font-weight: 400;
    font-size:1.8vh;
}

.apple-store{
   width: 79%;
}

.play-store{
    width: 80%;
 }

.store{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.8vh
}


.bold{
    font-weight: 800;
    font-style: bold;
}

.rating{
    font-size: 20px;
}
@media(max-width:1150px){

    .body-main,.related{
        padding:2.5vh 4vh ;
    }

}


@media(max-width:966px){

   .head{
        display: flex;
        flex-direction: column;
   }

   .side-bar{
    width: 100%;
   }

   .side-bar ul{
    width: 100%;
   }

   .apple-store{
    
    max-width: 260px;
 }
 
 .play-store{
    max-width: 260px;
  }
}
